.main-button {
	width: 330px;
	height: 89px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 75px;
	cursor: pointer;
	position: relative;
}

.button-edge {
	height: 0px;
	width: 330px;
	position: absolute;
	top: 7px;
	left: 40px;
	z-index: 9;
}

.button-edge::before {
	content: '';
	position: relative;
	border-right: 30px solid #333333;
	border-bottom: 30px solid transparent;
	bottom: -28px;
	left: -30px;
}

.button-edge::after {
	content: '';
	position: relative;
	border-top: 30px solid transparent;
	border-left: 30px solid #333333;
	top: 30px;
	right: -220px;
}

.button-background {
	width: 250px;
	height: 75px;
	background-color: #333333;
	position: absolute;
	top: 7px;
	left: 40px;
	z-index: 9;
}

.button-background::before {
	content: '';
	border-top: 15px solid #333333;
	border-left: 30px solid #333333;
	position: relative;
	top: 15px;
	left: -30px;
}

.button-background::after {
	content: '';
	border-bottom: 15px solid #333333;
	border-right: 30px solid #333333;
	position: relative;
	right: -220px;
	bottom: -43px;
}

.button-text {
	font-family: 'electrolize';
	position: absolute;
	font-size: 35px;
	width: 250px;
	height: 75px;
	text-align: center;
	display: table;
	top: 7px;
	left: 40px;
	z-index: 10;
}

.button-text span {
	vertical-align: middle;
	display: table-cell;
}

.button-text span:first-letter {
	color: #AEEE00;
	text-shadow: 0 0 20px rgba(150, 202, 45, 0.86);
}