/* Fade in/out transition beetween screen */

[ui-view]#AppContainer.ng-enter, [ui-view]#AppContainer.ng-leave {
	transition: all 1.5s ease-in-out;
}

[ui-view]#AppContainer.ng-leave {
	opacity: 1;
}

[ui-view]#AppContainer.ng-leave-active {
	opacity: 0;
}

[ui-view]#AppContainer.ng-enter {
	opacity: 0;
}

[ui-view]#AppContainer.ng-enter-active {
	opacity: 1;
}